<div class="container">
  <div class = "row d-flex flex-column">
    <div class= "col d-flex flex-column flex-lg-row">
      <% if @book.image.attached? %>
        <%= image_tag url_for(@book.image), { height: "400"} %>
      <% else %>
        <%= image_tag "default_cover.png", {height: "400"} %>
      <% end %>
      <div class="d-flex flex-column px-4 flex-fill">
        <strong>Title: </strong><%= @book.title%>
        <strong>Author: </strong><%= @book.author%>
        <strong>Description: </strong><%= @book.description%>
        <strong>Price: </strong>$<%= @book.price%>
        <strong>Seller name: </strong><%= link_to @seller.name, user_books_url(@seller.id)%>
      </div>
    </div>
  </div>
  <div class= "row">
          <div class="">
            <% if signed_in? && current_user.buyer? %>
            <%= link_to "Back to search", :back, class: "btn btn-info cart-btn" %>
            <%=link_to "", id: "cart-action-btn", class: "btn btn-primary cart-btn", data: {target: @cart_action, addUrl: add_to_cart_path(@book), removeUrl: remove_from_cart_path(@book)} do%>
              <span><%=@cart_action%></span> Cart
            <%end%>
                    <% end %>
          </div>
  </div>
</div>