
<div class="container">
  <div class = "row d-flex flex.column justify-content-center">
    <div class= "col-10 d-flex">
      <% if @book.image.attached? %>
        <%= image_tag url_for(@book.image), { height: "400"} %>
      <% else %>
        <%= image_tag "default_cover.png", {height: "400"} %>
      <% end %>
      <div class="d-flex flex-column px-4">
        <strong>Title: </strong><%= @book.title%>
        <strong>Author: </strong><%= @book.author%>
        <strong>Description: </strong><%= @book.description%>
        <strong>Price: </strong>$<%= @book.price%>
        <strong>Seller name: </strong><%= link_to @seller.name, user_books_url(@seller.id)%>
        <% if signed_in? && current_user.buyer? %>
        <%= link_to "#{@cart_action} Cart", "javascript:;", class: "btn btn-primary", id: "cart-action-btn", data: {target: @cart_action, addUrl: add_to_cart_path(@book), removeUrl: remove_from_cart_path(@book)}%>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script> 
  const cartActionBtn = document.getElementById('cart-action-btn')
  const cartCount = document.getElementById('cart-count')
  cartActionBtn.addEventListener('click', (e) => {
    e.preventDefault();
    console.log(cartActionBtn.dataset.target)
    let url, newTarget;
    if (cartActionBtn.dataset.target == "Add to" ) {
      url = cartActionBtn.dataset.addurl
      newTarget = "Remove from"
    } else {
      url = cartActionBtn.dataset.removeurl
      newTarget = "Add to"
    }
    
  })
</script>