<div id="my-cart" class="container">
  <div clas="row">
    <div class="co-6">
      <h1>My cart</h1>

      <p>You've selected <span class="cart-count-number"><%=current_user.cart_count%></span><span class="cart-count-noun"><%= current_user.cart_count == 1 ? " book" : " books" %></span></p>
    </div>

    <% @cart_books.each do |book| %>
    <div class="row my-1 cart-book">
      <div class="col-6"><%= link_to book.title, book%></div>
      <div class="col-2">$ <%= book.price %></div>
      <div class="col-4">
          <%= link_to "", class: "btn btn-warning remove", data: {targetUrl: remove_from_cart_path(book)} do %>
            Remove from Cart
          <% end %>
      </div>
    </div>
    <% end %>
  </div>
  <div><%= link_to "Proceed to Checkout", checkout_url, class: "btn btn-primary"%></div>
</div>